@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Jeongmeokbawi";
  src: url("https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SangSangRockOTF.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "KkuBulLim";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/BMkkubulimTTF-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "UlsanJungGuExclusiveFont";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ulsanjunggu.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

body {
  background-color: #f3eac5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-PirataOne {
  font-family: "Pirata One", cursive;
}

.title-en {
  font-family: "Pirata One", cursive;
  color: #8b0000;
}

.title-ko {
  font-family: "UlsanJungGuExclusiveFont", cursive;
  color: #8b0000;
}
